[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/pack/themes/opt/solarized8"]
	path = vim/pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/zsh-async"]
	path = zsh/zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/omz-custom/plugins/alias-tips"]
	path = zsh/omz-custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips.git
[submodule "zsh/omz-custom/plugins/zsh-completions"]
	path = zsh/omz-custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/base16-shell"]
	path = zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
